* {
  box-sizing: border-box;
  margin: 0;
}

.container--faq {
  background: #DEEBF5;
}

.container--content {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 27px;
}

.navigations_menu_page {
  display: flex;
  padding-left: 0;
  overflow-y: scroll;
  max-width: 100%;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.navigations_menu_page::-webkit-scrollbar {
  display: none;
}

.navigations_menu_page .item_menu_navigations {
  list-style: none;
  margin-right: 30px;
  margin-bottom: 15px;
  position: relative;
  white-space: nowrap;
}

.navigations_menu_page .item_menu_navigations:last-of-type {
  margin-right: 0;
}

.navigations_menu_page .item_menu_navigations:hover:after {
  width: 100%;
}

.navigations_menu_page .item_menu_navigations:after {
  content: "";
  position: absolute;
  display: block;
  top: 150%;
  left: 0;
  width: 0;
  height: 2px;
  background: #2361A9;
}

.navigations_menu_page .item_menu_navigations a {
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
  text-transform: uppercase;
  color: #2361A9;
  text-decoration: none;
}

.top_wrap_inner .name_page {
  margin-bottom: 27px;
}

.faq_section {
  padding: 50px 0 70px;
  width: 70%;
  margin: 0 auto;
}

.faq_wrap {
  margin-bottom: 40px;
}

.faq_wrap:last-of-type {
  margin-bottom: 0;
}

.faq_wrap .title_faq_wrap {
  font-weight: 600;
  font-size: 28px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #2361A9;
  margin-bottom: 23px;
}

.faq_wrap .accordion_sec {
  background: #FFFFFF;
  border: 1px solid #C8DAEC;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.faq_wrap .accordion_sec.active .name_sec {
  border-bottom: 1px solid #C8DAEC;
}

.faq_wrap .accordion_sec.active .name_sec img {
  transform: rotate(180deg);
}

.faq_wrap .accordion_sec .name_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 25px 40px;
}

.faq_wrap .accordion_sec .name_sec span {
  font-weight: 700;
  font-size: 17px;
  line-height: 109%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #2361A9;
}

.faq_wrap .accordion_sec .name_sec img {
  width: 17px;
  height: 10px;
  display: block;
}

.faq_wrap .accordion_sec .content {
  padding: 20px 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #606B77;
}

.on_index_link {
  display: none;
  text-decoration: none;
  align-items: center;
}

.on_index_link h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2361A9;
  margin-left: 10px;
}

.on_index_link img {
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 1290px) {
  .navigations_menu_page .item_menu_navigations {
    margin-right: 20px;
  }
  .navigations_menu_page .item_menu_navigations a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1055px) {
  .navigations_menu_page {
    max-width: 1055px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .navigations_menu_page .item_menu_navigations {
    margin-right: 20px;
    white-space: nowrap;
  }
  .navigations_menu_page .item_menu_navigations a {
    font-size: 13px;
  }
  .navigations_menu_page::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
@media screen and (max-width: 991px) {
  .meest_questions .bread_crumbs {
    display: none;
  }
  .meest_questions .on_index_link {
    display: flex;
    margin-bottom: 10px;
  }
  .name_page {
    font-size: 22px;
  }
  .faq_section {
    padding: 50px 0 40px;
    width: 100%;
  }
  .faq_wrap {
    margin-bottom: 30px;
  }
  .faq_wrap .title_faq_wrap {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .faq_wrap .accordion_sec {
    margin-bottom: 5px;
  }
  .faq_wrap .accordion_sec .name_sec {
    padding: 19px 20px;
  }
  .faq_wrap .accordion_sec .name_sec span {
    font-size: 13px;
  }
  .faq_wrap .accordion_sec .name_sec img {
    width: 14px;
    height: 8px;
  }
  .faq_wrap .accordion_sec .content {
    padding: 10px 20px;
    font-size: 13px;
    line-height: 22px;
  }
  .top_wrap_inner .name_page {
    margin-bottom: 23px;
  }
}
@media screen and (max-width: 350px) {
  .name_page {
    font-size: 20px;
  }
}
.content a {
  text-decoration: underline;
  color: #2361A9;
}