@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import "~select2/dist/css/select2.min.css";
@import "~intl-tel-input/build/css/intlTelInput.min.css";
.become-partner-container {
  max-width: 1390px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.become-partner-form-section {
  padding: 50px 0;
  background-image: url(/app/images/become-partner/form_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section {
    padding: 0 0 40px;
    background-image: none;
  }
}
.become-partner-form-section .become-partner-container {
  display: flex;
  column-gap: 50px;
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}
.become-partner-form-section .become-partner-form__wrapper {
  border-radius: 20px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 30px 40px 40px;
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-form__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
  }
}
.become-partner-form-section .become-partner-form__title {
  color: #2361A9;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 37.8px */
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-form__title {
    font-size: 20px;
  }
}
.become-partner-form-section .become-partner-form__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.become-partner-form-section .become-partner-form__row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-form__row {
    flex-direction: column;
    row-gap: 16px;
  }
}
.become-partner-form-section .become-partner-form__row--submit {
  padding-top: 16px;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-form__row--submit {
    padding-top: 0;
  }
}
.become-partner-form-section .become-partner-form__input_group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex-grow: 1;
}
.become-partner-form-section .become-partner-form__label {
  padding-left: 10px;
  color: #2361A9;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%; /* 13.08px */
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-form__label {
    font-size: 12px;
  }
}
.become-partner-form-section .become-partner-form__input, .become-partner-form-section .become-partner-form__textarea {
  border-radius: 100px;
  border: 1px solid #D7D8D9;
  padding: 14px 20px 15px;
  outline-color: #0061AF;
  min-width: 0;
  width: 100%;
}
.become-partner-form-section .become-partner-form__input::placeholder, .become-partner-form-section .become-partner-form__textarea::placeholder {
  color: rgba(27, 43, 60, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%; /* 15.26px */
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-form__input, .become-partner-form-section .become-partner-form__textarea {
    width: 100%;
  }
}
.become-partner-form-section .become-partner-form__textarea {
  resize: none;
  border-radius: 20px;
}
.become-partner-form-section .become-partner-form__submit {
  border-radius: 100px;
  background: #2361A9;
  display: flex;
  column-gap: 80px;
  align-items: center;
  padding: 19px 30px 20px 30px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%; /* 15.26px */
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-form__submit {
    justify-content: space-between;
    width: 100%;
  }
}
.become-partner-form-section .become-partner-info__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-info__wrapper {
    padding: 30px 15px 0;
  }
}
.become-partner-form-section .become-partner-info__cta {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.become-partner-form-section .become-partner-info__title {
  color: #2361A9;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 37.8px */
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-info__title {
    font-size: 20px;
  }
}
.become-partner-form-section .become-partner-info__subtitle {
  color: #0061AF;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-info__subtitle {
    font-size: 13px;
  }
}
.become-partner-form-section .become-partner-info__links, .become-partner-form-section .become-partner-info__links p {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-info__links, .become-partner-form-section .become-partner-info__links p {
    row-gap: 4px;
  }
}
.become-partner-form-section .become-partner-info__links a, .become-partner-form-section .become-partner-info__links p a {
  display: block;
  border-radius: 20px;
  background: #FFF;
  color: #0061AF;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 117.647% */
  text-decoration-line: underline;
  padding: 25px 30px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .become-partner-form-section .become-partner-info__links a, .become-partner-form-section .become-partner-info__links p a {
    font-size: 15px;
  }
}
.become-partner-form-section .iti--separate-dial-code .iti__selected-flag {
  background-color: unset !important;
  border-right: 1px solid #D7D8D9;
}
.become-partner-form-section .iti--separate-dial-code .iti__selected-dial-code {
  margin-left: 5px !important;
  font-size: 14px;
}
.become-partner-form-section .iti--separate-dial-code.iti--show-flags .iti__selected-dial-code {
  font-weight: 500;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B2B3C;
  margin-left: 10px;
}

body .select2-container {
  width: -moz-available !important;
}
body .select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #D7D8D9;
  border-radius: 24px;
  height: 48px;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 16px;
}
body .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B2B3C;
  display: flex;
  align-items: center;
  height: 100%;
}
body .select2-container--default .select2-selection--single .select2-selection__rendered::placeholder {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #1B2B3C;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 20px;
  right: 16px;
  width: 16px;
  height: 16px;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(/app/images/ecom-services/arrow_select.svg);
  background-repeat: no-repeat;
  background-position: 96% center;
  border-color: unset;
  border-style: unset;
  height: 7px;
  width: 12px;
  transform: translateY(-50%);
}
body .select2-dropdown {
  background: #f7f8fa;
  box-shadow: 0px -3px 15px rgba(64, 98, 145, 0.8);
  border-radius: 10px;
  border: unset;
  padding: 3px 12px;
}
body .select2-results__options::-webkit-scrollbar {
  width: 0px;
}
body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: white;
  background: #2361A9;
  border-radius: 10px;
}
body .select2-results__option {
  user-select: none;
  -webkit-user-select: none;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 5px 8px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #303A45;
}
body .parcel-content .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: unset;
  border-radius: unset;
  height: 15px;
}
body .parcel-content .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
}
body .parcel-content .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 2px;
  right: 0;
}
body .currency_td .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #2361A9;
  font-weight: 700;
}
body .select2-container--default .select2-search--dropdown .select2-search__field {
  border: unset;
  display: none;
  padding: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #0061AF #EEF0F0;
}

.install-postomat-container {
  max-width: 1390px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.bcg-light-blue {
  background: #DEEBF5;
}

.grey-bcg {
  background-color: #EEF0F0;
}

.blue-button54 {
  border: unset;
  border-radius: 100px;
  background: #2361A9;
  height: 54px;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%; /* 16.35px */
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 19px 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.blue-button54.trnsprnt-btn {
  border: 1px solid #0061AF;
  background: transparent;
  color: #0061AF;
}

.blue-button45 {
  border: unset;
  border-radius: 100px;
  background: #2361A9;
  height: 45px;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%; /* 16.35px */
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 15px 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.heading-section {
  color: #2361A9;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 40.5px */
  text-transform: uppercase;
}

.heading {
  color: #2361A9;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 27px */
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.descr {
  color: rgba(27, 43, 60, 0.7);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
  letter-spacing: 0.3px;
}
.descr a {
  color: #0061AF;
}
.descr--small {
  font-size: 13px;
  color: #0061AF;
}
.descr--bold {
  font-weight: 600;
  color: #0061AF;
}
.descr--blue {
  color: #0061AF;
}

.intrnt-parcel-delivery.top-wrap {
  padding-top: 30px;
  position: relative;
}
.intrnt-parcel-delivery.top-wrap .top-wrap__inner {
  display: flex;
  align-items: center;
}
.intrnt-parcel-delivery.top-wrap .top-wrap__inner .swiper-slide {
  height: unset !important;
  display: flex;
}
.intrnt-parcel-delivery.top-wrap .top-wrap__inner .slide-country {
  display: flex;
}
.intrnt-parcel-delivery.top-wrap .top-wrap__inner .slide-country.meest_postboxes {
  width: 100%;
}
.intrnt-parcel-delivery.top-wrap .top-wrap__inner .slide-country.meest_postboxes .main-img {
  display: flex;
  vertical-align: bottom;
}
.intrnt-parcel-delivery.top-wrap .text-part {
  width: 53%;
}
.intrnt-parcel-delivery.top-wrap .text-part .heading-section {
  margin-bottom: 35px;
}
.intrnt-parcel-delivery.top-wrap .text-part .blue-button54 {
  margin-right: 10px;
}
.intrnt-parcel-delivery.top-wrap .text-part .flex-buttons {
  display: flex;
  align-items: center;
}
.intrnt-parcel-delivery.top-wrap .main-img {
  width: 47%;
}
.intrnt-parcel-delivery.top-wrap .main-img img {
  width: 100%;
}

.label-sec {
  border-radius: 8px;
  background: #FFD72F;
  display: inline-block;
  padding: 7px 15px;
  margin-bottom: 18px;
}
.label-sec span {
  color: #0056A4;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.sec-intrntn-del-bcg.grey-bcg {
  background: #EFF1F4;
}
.sec-intrntn-del-bcg.grey-bcg .intrntn-del-cards__row {
  background-color: #FFF;
}

.sec-intrntn-del.meest_postboxes {
  padding: 50px 0;
}
.sec-intrntn-del.meest_postboxes .heading-section {
  text-align: center;
  margin-bottom: 10px;
}
.sec-intrntn-del.meest_postboxes .descr-main {
  text-align: center;
}
.sec-intrntn-del.meest_postboxes .intrntn-del-cards__row {
  background-color: #fff;
}

.intrntn-del-cards {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
  width: calc(100% + 28px);
  margin-left: -28px;
  margin-top: 30px;
}
.intrntn-del-cards__row.postboxes {
  width: calc(33.3% - 28px);
  margin-left: 28px;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 28px;
}
.intrntn-del-cards__row.postboxes .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #DEEBF5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 46px;
}
.intrntn-del-cards__row.postboxes .img img {
  width: 50px;
  height: 50px;
}
.intrntn-del-cards__row.postboxes .heading {
  margin-bottom: 10px;
}

.bright-business-sec {
  background-color: #fff;
  background-image: url(/app/images/install-postomat/bcg_sec2.png);
  background-position: center left;
  background-size: 100% 100%;
}
.bright-business-sec__inner {
  padding: 90px 0;
}
.bright-business-sec__inner .img {
  display: none;
}
.bright-business-sec__inner .text-part {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.bright-business-sec__inner .text-part .heading-section {
  margin-bottom: 15px;
}

.requirements-business-sec--sec1 {
  padding: 55px 0 50px;
}
.requirements-business-sec--sec1 .heading-section {
  margin-bottom: 10px;
}
.requirements-business-sec--sec2 {
  padding: 65px 0 40px;
}
.requirements-business-sec--sec2 .business-cards-wrapper .business-card:nth-child(1) {
  border-bottom: 1px solid #C8DAEC;
}
.requirements-business-sec--sec2 .business-cards-wrapper .business-card:nth-child(2) {
  border-bottom: 1px solid #C8DAEC;
}
.requirements-business-sec--sec2 .business-cards-wrapper .business-card:nth-child(3) {
  border-bottom: 1px solid #C8DAEC;
}
.requirements-business-sec .heading-section, .requirements-business-sec .descr-main {
  text-align: center;
}

.business-cards-wrapper {
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid #C8DAEC;
  background: #FFF;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.business-cards-wrapper .business-card {
  width: 33.3%;
  padding: 40px;
  border-right: 1px solid #C8DAEC;
}
.business-cards-wrapper .business-card:nth-child(3n) {
  border-right: none;
}
.business-cards-wrapper .business-card img {
  width: 100px;
  height: 100px;
}
.business-cards-wrapper .business-card .heading {
  margin-bottom: 10px;
}

.submit-application-wrap {
  background-color: #0061AF;
  border-radius: 20px;
  padding: 70px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.submit-application-wrap:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(/app/images/install-postomat/bcg_submit_application.png);
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.submit-application-wrap h2 {
  color: #FFF;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 40.8px */
  letter-spacing: 0.34px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.submit-application-wrap .btn-transperent {
  border-radius: 100px;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%; /* 16.35px */
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 19px 43px;
  height: 54px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.guarantees-sec {
  padding-bottom: 50px;
}
.guarantees-sec .submit-application-wrap:after {
  height: 100%;
  background-size: 100% auto;
  background-position: bottom;
}

@media (max-width: 1225px) {
  .intrnt-parcel-delivery.top-wrap .top-wrap__inner .slide-country.meest_postboxes {
    width: 100%;
    align-items: unset;
  }
  .intrnt-parcel-delivery.top-wrap .top-wrap__inner .slide-country.meest_postboxes .text-part {
    margin-bottom: 60px;
  }
  .intrnt-parcel-delivery.top-wrap .text-part {
    width: 45%;
  }
  .intrnt-parcel-delivery.top-wrap .main-img {
    width: calc(55% - 30px);
    margin-left: 30px;
  }
}
@media (max-width: 1150px) {
  .intrnt-parcel-delivery.top-wrap .main-img {
    align-items: flex-end;
  }
  .bright-business-sec {
    background-size: 100% 70%;
    background-position: bottom left;
    background-repeat: no-repeat;
  }
}
@media (max-width: 991px) {
  .intrnt-parcel-delivery.top-wrap .top-wrap__inner .slide-country {
    flex-direction: column;
  }
  .intrnt-parcel-delivery.top-wrap .top-wrap__inner .slide-country.meest_postboxes .text-part {
    margin-bottom: 30px;
  }
  .intrnt-parcel-delivery.top-wrap .text-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .intrnt-parcel-delivery.top-wrap .main-img {
    width: 100%;
    margin-left: 0;
  }
  .bright-business-sec {
    background-image: unset;
  }
  .bright-business-sec__inner {
    padding: 35px 0 0;
  }
  .bright-business-sec__inner .img {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .bright-business-sec__inner .img.img-bottom {
    display: flex;
    vertical-align: bottom;
  }
  .bright-business-sec__inner .img img {
    width: 100%;
  }
  .intrntn-del-cards__row.postboxes {
    width: calc(50% - 28px);
  }
  .business-cards-wrapper.meest_postboxes {
    display: block;
  }
  .business-cards-wrapper.meest_postboxes .business-card {
    width: 100%;
    border-right: unset;
    border-bottom: 1px solid #C8DAEC;
  }
  .business-cards-wrapper.meest_postboxes .business-card:last-of-type {
    border-bottom: unset;
  }
  .submit-application-wrap h2 {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .heading-section {
    font-size: 20px;
    line-height: 130%;
  }
  .heading {
    font-size: 17px;
    line-height: 120%; /* 20.4px */
    letter-spacing: 0.34px;
  }
  .descr {
    font-size: 13px;
    line-height: 20px; /* 153.846% */
    letter-spacing: 0.26px;
  }
  .label-sec {
    margin-bottom: 15px;
  }
  .label-sec span {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
  .intrnt-parcel-delivery.top-wrap .text-part .heading-section {
    margin-top: unset;
    margin-bottom: 20px;
  }
  .bright-business-sec__inner .text-part {
    width: 100%;
    margin-bottom: 22px;
    margin-top: 15px;
  }
  .bright-business-sec__inner .text-part .heading-section {
    margin-bottom: 20px;
  }
  .sec-intrntn-del.meest_postboxes {
    padding: 40px 0 30px;
  }
  .sec-intrntn-del.meest_postboxes .heading-section, .sec-intrntn-del.meest_postboxes .descr-main {
    text-align: start;
  }
  .intrntn-del-cards.meest_postboxes {
    width: 100%;
    margin-left: 0;
    flex-wrap: unset;
    flex-flow: unset;
    overflow-x: scroll;
    justify-content: unset;
  }
  .intrntn-del-cards__row.postboxes {
    width: 90%;
    flex: 0 0 auto;
    margin-left: 0;
    margin-right: 20px;
    padding: 20px;
  }
  .intrntn-del-cards__row.postboxes:last-of-type {
    margin-right: 0;
  }
  .intrntn-del-cards__row.postboxes .img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
  }
  .intrntn-del-cards__row.postboxes .img img {
    width: 36px;
    height: 36px;
  }
  .requirements-business-sec--sec1 {
    padding: 40px 0 40px;
  }
  .requirements-business-sec--sec2 {
    padding: 40px 0 40px;
  }
  .requirements-business-sec .heading-section, .requirements-business-sec .descr-main {
    text-align: start;
  }
  .business-cards-wrapper {
    margin-top: 40px;
  }
  .business-cards-wrapper .business-card {
    padding: 20px 30px 30px 30px;
  }
  .business-cards-wrapper .business-card img {
    margin-bottom: 20px;
  }
  .bcg-submit-application {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .bcg-submit-application .submit-application-wrap {
    border-radius: unset;
  }
  .bcg-submit-application .submit-application-wrap h2 {
    font-size: 20px;
    line-height: 120%; /* 24px */
    letter-spacing: 0.4px;
    margin-bottom: 35px;
  }
  .bcg-submit-application .submit-application-wrap .btn-transperent {
    padding: 19px 35px;
  }
  .guarantees-sec .submit-application-wrap:after {
    background-image: url(/app/images/install-postomat/bcg_subm_mobile.png);
    background-size: 100% 180px;
    background-position: bottom;
  }
  .blue-button54 {
    padding: 19px 25px 19px 35px;
  }
}
@media (max-width: 550px) {
  .guarantees-sec .submit-application-wrap:after {
    background-size: 100% auto;
  }
  .blue-button54 {
    font-size: 13px;
  }
}