@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "../components/become-partner-form";

*{
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat';
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #0061AF #EEF0F0;
}

.install-postomat-container {
    max-width: 1390px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.bcg-light-blue{
    background: #DEEBF5;
}

.grey-bcg{
    background-color: #EEF0F0;;
}

.blue-button54{
    border: unset;
    border-radius: 100px;
    background: #2361A9;
    height: 54px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%; /* 16.35px */
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding: 19px 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    &.trnsprnt-btn{
        border: 1px solid #0061AF;
        background: transparent;
        color: #0061AF;
    }
}

.blue-button45{
    border: unset;
    border-radius: 100px;
    background: #2361A9;
    height: 45px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%; /* 16.35px */
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding: 15px 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.heading-section{
    color: #2361A9;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 40.5px */
    text-transform: uppercase;
}
.heading{
    color: #2361A9;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 27px */
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.descr{
    color: rgba(27, 43, 60, 0.70);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 166.667% */
    letter-spacing: 0.3px;
    a{
        color: #0061AF;
    }
    &--small{
        font-size: 13px;
        color: #0061AF;
    }
    &--bold{
        font-weight: 600;
        color: #0061AF;
    }
    &--blue{
        color: #0061AF;
    }
}

.intrnt-parcel-delivery.top-wrap{
    padding-top: 30px;
    position: relative;
    .top-wrap__inner{
        display: flex;
        align-items: center;
        .swiper-slide{
            height: unset!important;
            display: flex;
        }
        .slide-country{
            display: flex;
            &.meest_postboxes{
                width: 100%;
                .main-img{
                    display: flex;
                    vertical-align: bottom;
                }
            }
        }
    }
    .text-part{
        width: 53%;
        .heading-section{
            margin-bottom: 35px;
        }
        .blue-button54{
            margin-right: 10px;
        }
        .flex-buttons{
            display: flex;
            align-items: center;
        }
    }
    .main-img{
        width: 47%;
        img{
            width: 100%;
        }
    }
}
.label-sec{
    border-radius: 8px;
    background: #FFD72F;
    display: inline-block;
    padding: 7px 15px;
    margin-bottom: 18px;
    span{
        color: #0056A4;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */
        letter-spacing: 0.28px;
        text-transform: uppercase;
    }
}
.sec-intrntn-del-bcg.grey-bcg{
    background: #EFF1F4;
    .intrntn-del-cards{
        &__row{
            background-color: #FFF;
        }
    }
}
.sec-intrntn-del.meest_postboxes{
    padding: 50px 0;
    .heading-section{
        text-align: center;
        margin-bottom: 10px;
    }
    .descr-main{
        text-align: center;
    }
    .intrntn-del-cards{
        &__row{
            background-color: #fff;
        }
    }
}
.intrntn-del-cards{
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    width: calc(100% + 28px);
    margin-left: -28px;
    margin-top: 30px;
    &__row.postboxes{
        width: calc(33.3% - 28px);
        margin-left: 28px;
        border-radius: 10px;
        padding: 30px;
        margin-bottom: 28px;
        .img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #DEEBF5;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 46px;
            img{
                width: 50px;
                height: 50px;
            }
        }
        .heading{
            margin-bottom: 10px;
        }
    }
}
.bright-business-sec{
    background-color: #fff;
    background-image: url(/app/images/install-postomat/bcg_sec2.png);
    background-position: center left;
    background-size: 100% 100%;
    &__inner{
        padding: 90px 0;
        .img{
            display: none;
        }
        .text-part{
            width: 50%;
            text-align: center;
            margin: 0 auto;
            .heading-section{
                margin-bottom: 15px;
            }
        }
    }
}
.requirements-business-sec{
    &--sec1{
        padding: 55px 0 50px;
        .heading-section{
            margin-bottom: 10px;
        }
    }
    &--sec2{
        padding: 65px 0 40px;
        .business-cards-wrapper{
            .business-card{
                &:nth-child(1){
                    border-bottom: 1px solid #C8DAEC;
                }
                &:nth-child(2){
                    border-bottom: 1px solid #C8DAEC;
                }
                &:nth-child(3){
                    border-bottom: 1px solid #C8DAEC;
                }
            }
        }
    }
    .heading-section, .descr-main{
        text-align: center;
    }
}
.business-cards-wrapper{
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid #C8DAEC;
    background: #FFF;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    .business-card{
        width: 33.3%;
        padding: 40px;
        border-right: 1px solid #C8DAEC;
        &:nth-child(3n){
            border-right: none;
        }
        img{
            width: 100px;
            height: 100px;
        }
        .heading{
            margin-bottom: 10px;
        }
    }
}
.submit-application-wrap{
    background-color: #0061AF;
    border-radius: 20px;
    padding: 70px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    &:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url(/app/images/install-postomat/bcg_submit_application.png);
        width: 100%;
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    h2{
        color: #FFF;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 40.8px */
        letter-spacing: 0.34px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .btn-transperent{
        border-radius: 100px;
        border: 2px solid #FFF;
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 109%; /* 16.35px */
        letter-spacing: 0.3px;
        text-transform: uppercase;
        padding: 19px 43px;
        height: 54px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
}
.guarantees-sec{
    padding-bottom: 50px;
    .submit-application-wrap:after{
        height: 100%;
        background-size: 100% auto;
        background-position: bottom;
    }
}

@media(max-width: 1225px){
    .intrnt-parcel-delivery.top-wrap{
        .top-wrap__inner{
            .slide-country{
                &.meest_postboxes{
                    width: 100%;
                    align-items: unset;
                    .text-part{
                        margin-bottom: 60px;
                    }
                }
            }
        }
        .text-part{
            width: 45%;
        }
        .main-img{
            width: calc(55% - 30px);
            margin-left: 30px;
        }
    }
}
@media(max-width: 1150px){
    .intrnt-parcel-delivery.top-wrap{
        .main-img{
            align-items: flex-end;
        }
    }
    .bright-business-sec{
        background-size: 100% 70%;
        background-position: bottom left;
        background-repeat: no-repeat;
    }
}
@media(max-width: 991px){
    .intrnt-parcel-delivery.top-wrap{
        .top-wrap__inner{
            .slide-country{
                flex-direction: column;
                &.meest_postboxes{
                    .text-part{
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .text-part{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .main-img{
            width: 100%;
            margin-left: 0;
        }
    }
    .bright-business-sec{
        background-image: unset;
        &__inner{
            padding: 35px 0 0;
            .img{
                display: block;
                width: calc(100% + 30px);
                margin-left: -15px;
                &.img-bottom{
                    display: flex;
                    vertical-align: bottom;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    .intrntn-del-cards{
        &__row.postboxes{
            width: calc(50% - 28px);
        }
    }
    .business-cards-wrapper.meest_postboxes{
        display: block;
        .business-card{
            width: 100%;
            border-right: unset;
            border-bottom: 1px solid #C8DAEC;
            &:last-of-type{
                border-bottom: unset;
            }
        }
    }
    .submit-application-wrap{
        h2{
            width: 70%;
        }
    }
}
@media(max-width: 768px){
    .heading-section{
        font-size: 20px;
        line-height: 130%;
    }
    .heading{
        font-size: 17px;
        line-height: 120%; /* 20.4px */
        letter-spacing: 0.34px;
    }
    .descr{
        font-size: 13px;
        line-height: 20px; /* 153.846% */
        letter-spacing: 0.26px;
    }
    .label-sec{
        margin-bottom: 15px;
        span{
            font-size: 12px;
            letter-spacing: 0.24px;
        }
    }
    .intrnt-parcel-delivery.top-wrap{
        .text-part{
            .heading-section{
                margin-top: unset;
                margin-bottom: 20px;
            }
        }
    }
    .bright-business-sec{
        &__inner{
            .text-part{
                width: 100%;
                margin-bottom: 22px;
                margin-top: 15px;
                .heading-section{
                    margin-bottom: 20px;
                }
            }
        }
    }
    .sec-intrntn-del.meest_postboxes {
        padding: 40px 0 30px;
        .heading-section, .descr-main{
            text-align: start;
        }
    }
    .intrntn-del-cards.meest_postboxes{
        width: 100%;
        margin-left: 0;
        flex-wrap: unset;
        flex-flow: unset;
        overflow-x: scroll;
        justify-content: unset;
    }
    .intrntn-del-cards{
        &__row.postboxes{
            width: 90%;
            flex: 0 0 auto;
            margin-left: 0;
            margin-right: 20px;
            padding: 20px;
            &:last-of-type{
                margin-right: 0;
            }
            .img{
                width: 80px;
                height: 80px;
                margin-bottom: 40px;
                img{
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }
    .requirements-business-sec{
        &--sec1{
            padding: 40px 0 40px;
        }
        &--sec2{
            padding: 40px 0 40px;
        }
        .heading-section, .descr-main{
            text-align: start;
        }
    }
    .business-cards-wrapper{
        margin-top: 40px;
        .business-card{
            padding: 20px 30px 30px 30px;
            img{
                margin-bottom: 20px;
            }
        }
    }
    .bcg-submit-application{
        width: calc(100% + 30px);
        margin-left: -15px;
        .submit-application-wrap{
            border-radius: unset;
            h2{
                font-size: 20px;
                line-height: 120%; /* 24px */
                letter-spacing: 0.4px;
                margin-bottom: 35px;
            }
            .btn-transperent{
                padding: 19px 35px;
            }
        }
    }
    .guarantees-sec{
        .submit-application-wrap{
            &:after{
                background-image: url(/app/images/install-postomat/bcg_subm_mobile.png);
                background-size: 100% 180px;
                background-position: bottom;
            }
        }
    }
    .blue-button54{
        padding: 19px 25px 19px 35px;
    }
}
@media(max-width: 550px){
    .guarantees-sec{
        .submit-application-wrap{
            &:after{
                background-size: 100% auto;
            }
        }
    }
    .blue-button54{
        font-size: 13px;
    }
}
