body {
  background: #f8f9fa;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container--custom {
  width: 100%;
  max-width: 1388px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.ai {
  align-items: center;
}

.jc {
  justify-content: space-between;
}

.bb {
  border-bottom: 1px solid #D8E0EB;
}

.mb {
  margin-bottom: 20px;
}

.bcg_light_blue {
  background: #DEEBF5;
}

.name_page {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #2361A9;
}

.bread_crumbs {
  display: flex;
  padding: 0;
  margin-bottom: 10px;
}
.bread_crumbs li {
  list-style-type: none;
  position: relative;
  margin-right: 15px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #2361A9;
}
.bread_crumbs li:after {
  content: "";
  display: block;
  background-image: url(/app/images/news/arrow_bread.svg);
  background-repeat: no-repeat;
  width: 5px;
  height: 11px;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}
.bread_crumbs li:last-of-type:after {
  display: none;
}
.bread_crumbs li a {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(35, 97, 169, 0.5);
  text-decoration: none;
}

.navigations_menu_page {
  display: flex;
  padding-left: 0;
}
.navigations_menu_page .item_menu_navigations {
  list-style: none;
  margin-right: 30px;
  margin-bottom: 15px;
  position: relative;
}
.navigations_menu_page .item_menu_navigations:last-of-type {
  margin-right: 0;
}
.navigations_menu_page .item_menu_navigations:after {
    content: "";
    position: absolute;
    display: block;
    top: 150%;
    left: 0;
    width: 0;
    height: 2px;
    background: #2361A9;
    transition: all .3s ease;
  }
.navigations_menu_page .item_menu_navigations:hover:after {
  width: 100%;
}
.navigations_menu_page .item_menu_navigations.active:hover:after {
    width: 100%;
  }

.navigations_menu_page .item_menu_navigations a {
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
  text-transform: uppercase;
  color: #2361A9;
  text-decoration: none;
}

.on_index_link {
  display: none;
  text-decoration: none;
  align-items: center;
}
.on_index_link span {
  font-weight: 700;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2361A9;
  margin-left: 10px;
}
.on_index_link img {
  width: 8px;
  height: 8px;
}

.top_wrap_inner .name_page {
  margin: 0;
  padding: 28px 0;
}

.all_news_sec {
  padding: 40px 0 70px;
}
.all_news_sec .center_div {
  margin-top: 40px;
}

.all_news_wrap_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 40px;
}

.news_row .img_news_row {
  display: block;
  margin-bottom: 21px;
}
.news_row .img_news_row img {
  width: 100%;
  border-radius: 10px;
}
.news_row .info_news_row .title_news_row {
  margin-bottom: 6px;
  display: block;
  text-decoration: none;
}
.news_row .info_news_row .title_news_row h3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 160%;
  color: #2361A9;
}
.news_row .info_news_row .descr {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #606B77;
}

.category_line {
  margin-bottom: 10px;
}
.category_line .category_tag {
  text-decoration: none;
  font-weight: 700;
  font-size: 11px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2361A9;
  padding: 3px 8px;
  background: #DEEBF5;
  border-radius: 2px;
  margin-right: 2px;
}
.category_line .date_public {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  color: #2361A9;
  margin-left: 10px;
}

.center_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue_button {
  display: inline-flex;
  background: #0061AF;
  border-radius: 100px;
  padding: 19px 35px 19px 35px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.blue_button span {
  font-weight: 700;
  font-size: 15px;
  line-height: 109%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1290px) {
  .navigations_menu_page .item_menu_navigations {
    margin-right: 20px;
  }
  .navigations_menu_page .item_menu_navigations a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1150px) {
  .all_news_wrap_grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1055px) {
  .navigations_menu_page {
    max-width: 1055px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .navigations_menu_page .item_menu_navigations {
    margin-right: 20px;
    white-space: nowrap;
  }
  .navigations_menu_page .item_menu_navigations a {
    font-size: 13px;
  }
  .navigations_menu_page::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
@media screen and (max-width: 991px) {
  .top_wrap_inner .bread_crumbs {
    display: none;
  }
  .top_wrap_inner .on_index_link {
    display: flex;
    margin-bottom: 10px;
  }
  .name_page {
    font-size: 22px;
  }
  .all_news_wrap_grid {
    grid-template-columns: 1fr;
    grid-column-gap: unset;
    grid-row-gap: 20px;
  }
  .news_row .img_news_row {
    margin-bottom: 10px;
  }
  .news_row .info_news_row .title_news_row {
    margin-bottom: 5px;
  }
  .news_row .info_news_row .descr {
    font-size: 13px;
    line-height: 20px;
  }
  .all_news_sec {
    padding: 20px 0 40px;
  }
  .all_news_sec .center_div {
    margin-top: 30px;
  }
}
