@import "../mixins";

.faq_list {
    @include flex-column;
    @include gap(10px);
    justify-content: center;
    min-width: 100%;

    @include mobile() {
        @include gap(5px);
    }

    &__item {
        border-radius: 20px;
        background: #F8F9FA;
        overflow: hidden;

        &__question {
            @include flex-row;
            @include flex-space-between;
            @include gap(30px);
            padding: 25px 30px 25px 40px;
            cursor: pointer;
            color: #2361A9;
            font-family: Montserrat;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 109%; /* 18.53px */
            letter-spacing: -0.17px;
            text-transform: uppercase;

            @include mobile() {
                padding: 15px 20px;
                color: #2361A9;
                font-size: 13px;
                line-height: 130%; /* 16.9px */
                letter-spacing: -0.13px;
            }

            &__img {
                @include imgWrapper(17px);

                @include mobile() {
                    @include imgWrapper(14px);
                }

                img {
                    @include wrappedImage;
                }
            }
        }

        &__answer {
            display: none;

            > hr {
                display: block;
                width: 100%;
                height: 1px;
                background: #C8DAEC;
                margin: 0;
                border: none;
                line-height: 0;
            }

            &__inner {
                padding: 30px 150px 30px 40px;
                color: rgba(27, 43, 60, 0.70);
                font-family: Montserrat;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px; /* 166.667% */
                letter-spacing: 0.3px;

                @include mobile() {
                    padding: 16px 20px 20px;
                    font-size: 12px;
                }

                b, strong {
                    color: #2361A9;
                    font-weight: 700;
                }
            }
        }
    }
}
